.dashboard-container{
  padding: 0 !important;
  margin:0 !important;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: sticky;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.User-manual-layout {
  margin-left: auto; 
}

.user-manual-image {
  height: 24px;
  width: auto;
}

@media (min-width: 960px) {
  .dashboard-container {
    display: flex;
    flex: 1;
    margin-left: 240px; 
  }
}
